.img4{
    grid-area: img4;
    display: flex;
    justify-content: center;
    align-items: unset;
}

.p4{
    grid-area: p4;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding: 200px;
}