/* ESTILO DEL FORM CONTACTO */

.form{
    margin: auto;
}

.form1{
    grid-area: form1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    
}

.form-check{
    grid-area: form1;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-left: 50px;
}

.boton{
    grid-area: form1;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-left: 50px;
}
