.img5{
    grid-area: img5;
    display: flex;
    justify-content: center;
    align-items: unset;
}

.p5{
    grid-area: p5;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya Sans SC', sans-serif;
}
