.img1{
    grid-area: img1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img2{
    grid-area: img2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img3{
    grid-area: img3;
    display: flex;
    justify-content: center;
    align-items: center;
}


.p1{
    grid-area: p1;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.p2{
    grid-area: p2;
    @include medidas;
}

.p3{
    grid-area: p3;
    @include medidas;
}

