.tarjeta-1 {
    grid-area: tarjeta-1;
    flex-direction: column;
    @include center;
}

.tarjeta-2 {
    grid-area: tarjeta-2;
    flex-direction: column;
    @include center;
}

.tarjeta-3 {
    grid-area: tarjeta-3;
    flex-direction: column;
    @include center;
}

.tarjeta--p {
    @include medidas;
    margin-bottom: 0;
}

.tarjet--img {
    width: 90%;
    height: 40%;
    object-fit: cover;
    margin-bottom: 10px;
}

