body{
    background-image: url(../img/img2/imgfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
