body{
    background-image: url(../img/img2/imgfondo.jpg);
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
