footer{
    grid-area: footer;
    background-color: #E0D8B0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: black;
    font-weight: bold;
    position: relative;
    padding: 1em 0;
    top: 59em;
    min-width: 100%;
}


