/* transformaciones */

.img1:hover{
    transform: scale(1.1);
    transition: all 4s;
}

.img2:hover{
    transform: scale(1.1);
    transition: all 4s;
}

.img3:hover{
    transform: scale(1.1);
    transition: all 4s;
}